<section data-ng-controller="PlansController">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
            <div class="panel-body">
            <h1> 6 Week Strength Program</h1>
              This is stuff about the 6 Week Strength Program and whatnot
            </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
            <div class="panel">
            <div class="panel-heading yellow-heading">
              <h2 class="panel-title">Week 1 - Day 1</h2>
            </div>
            <div class="panel-body">
              <div class="row workout-content">
              <h2> The Vlad </h2>
              </div>
              <div class="row workout-content">
              <div class="col-xs-3">
              <p> <b>World</b> <br/>
                  1,586 completed <br/>
                  248 currently
              </p>
              </div>
              <div class="col-xs-3">
              <p> <b>Friends</b> <br/>
                  7 completed <br/>
                  3 currently
              </p>
              </div>
              <div class="col-xs-5">
              <p> <b>Rating</b> <br/>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <br/>
                  <b>Difficulty</b> <br/>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </p>
              </div>
              </div>
            </div>
            </div>
        </div>
    </div>

<div class="row">
      <div class="col-sm-12">
            <div class="panel">
            <div class="panel-heading yellow-heading">
              <h2 class="panel-title">Week 1 - Day 2</h2>
            </div>
            <div class="panel-body">
              <div class="row workout-content">
              <h2>Summertime</h2>
              </div>
              <div class="row workout-content">
              <div class="col-xs-3">
              <p> <b>World</b> <br/>
                  1,586 completed <br/>
                  248 currently
              </p>
              </div>
              <div class="col-xs-3">
              <p> <b>Friends</b> <br/>
                  4 completed <br/>
                  3 currently
              </p>
              </div>
              <div class="col-xs-5">
              <p> <b>Rating</b> <br/>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <br/>
                  <b>Difficulty</b> <br/>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </p>
              </div>
              </div>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
            <div class="panel">
            <div class="panel-heading yellow-heading">
              <h2 class="panel-title">Week 1 - Day 3</h2>
            </div>
            <div class="panel-body">
              <div class="row workout-content">
              <h2>Da Froto?</h2>
              </div>
              <div class="row workout-content">
              <div class="col-xs-3">
              <p> <b>World</b> <br/>
                  1,586 completed <br/>
                  248 currently
              </p>
              </div>
              <div class="col-xs-3">
              <p> <b>Friends</b> <br/>
                  7 completed <br/>
                  5 currently
              </p>
              </div>
              <div class="col-xs-5">
              <p> <b>Rating</b> <br/>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <br/>
                  <b>Difficulty</b> <br/>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </p>
              </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</section>