<section data-ng-controller="PlansController" data-ng-init="findOne()">
	<div class="row">
		<div class="container">
			<!-- Yellow Background -->
			<div class="col-xs-12">
                <img src="modules/workouts/img/wide-placeholder.jpg"/>
            </div>

			<div class="col-xs-12 workout-header">
			<div class="block-content">
				<div class="col-xs-8">
					<h4 class="rush-reg"> <strong>{{plan.name}}</strong></h4>
					<div class="col-xs-6">
                        <p>World</p>
                        <p><strong>{{ plan.timesCompleted }}</strong> completed</p>
                        <!--TODO/XXX: Have not implemented any kind of "users currently doing this workout" -- What does currently mean?-->
                        <!--<p><strong>4321</strong> currently</p>-->
                    </div>
                    <!--TODO/XXX: Have not implemented friends capability-->
                    <!--<div class="col-xs-6">-->
                        <!--<p>Friends</p>-->
                        <!--<p><strong>32</strong> completed</p>-->
                        <!--<p><strong>21</strong> currently</p>-->
                    <!--</div>-->  
                        <div class="list-group-item" ng-repeat = "w in plan.workouts" style="display:inline-block">{{w}}</div>                
				</div>
			</div>
			</div>
		</div>

		<!-- <div class="container" data-ng-controller="WorkoutsController" data-ng-init="find()">
            <div class="container" data-ng-repeat="workout in workouts">
            <p>{{workout.name}}
            </p>
            </div>
        </div> -->


    </div>

</section>
