<section data-ng-controller="UserFeedsController" data-ng-init="find()">
    <div class="page-header">
        <h1>User feeds</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="userFeed in userFeeds" data-ng-href="/#!/user-feeds/{{userFeed._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="userFeed.created | date:'medium'"></span>
				by
				<span data-ng-bind="userFeed.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="userFeed.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!userFeeds.$resolved || userFeeds.length">
    	No User feeds yet, why don't you <a href="/#!/user-feeds/create">create one</a>?
    </div>
</section>