<head>
    <link rel="stylesheet" href="../css/userfeeds.css">
</head>

<section data-ng-controller="UserFeedsController" data-ng-init="find()">
    <!--
    <div class="page-header">
        <h1>User feeds</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="userFeed in userFeeds" data-ng-href="/#!/user-feeds/{{userFeed._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="userFeed.created | date:'medium'"></span>
				by
				<span data-ng-bind="userFeed.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="userFeed.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!userFeeds.$resolved || userFeeds.length">
    	No User feeds yet, why don't you <a href="/#!/user-feeds/create">create one</a>?
    </div> -->
<body>
    <div class="row"> 
        <div class="col-sm-8 col-sm-offset-2">
            <div class="jumbotron usr-jumbo">
            <h1>Hi! Welcome to your User Feed.</h1>
            <p>Let's get workin!</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Help</a></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
              <div class="list-group">
              <a href="#" class="list-group-item">
              WORKOUT LIBRARY
              </a>
              <a href="#" class="list-group-item">
              CHALLENGES
              </a>
              <a href="#" class="list-group-item">
              RANKINGS
              </a>
            </div>
        </div>
    </div>

</body>



</section>