<head>
    <link rel="stylesheet" href="../css/userfeeds.css">
</head>

<section data-ng-controller="UserFeedsController">

<body>
    <div class="row">
        <div class="col-sm-12">
            <div class="list-group list-header">
              <a href="#" class="list-group-item">
              <h1>6 Week Strength Program</h1>
              <p>Stuff about stuff goes here</p>
              </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
              <div class="list-group ">
              <a href="#" class="list-group-item">
              <h2>CATEGORIES</h2>
              </a>
            </div>
        </div>
    </div>

</body>



</section>