<head>
    <link rel="stylesheet" href="../css/userfeeds.css">
</head>

<section data-ng-controller="UserFeedsController">

<body>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
            <div class="panel-body">
            <h1> 6 Week Strength Program</h1>
              This is stuff about the 6 Week Strength Program and whatnot
            </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
            <div class="panel">
            <div class="panel-heading yellow-heading">
              <h2 class="panel-title">Week 1 - Day 1</h2>
            </div>
            <div class="panel-body">
              <h2> The Vlad </h2>
              <p> ajweoifjijef </p>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
            <div class="panel">
            <div class="panel-heading yellow-heading">
              <h2 class="panel-title">Week 1 - Day 2</h2>
            </div>
            <div class="panel-body">
              <h2> Summertime </h2>
              <p> ajweoifjijef </p>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
            <div class="panel">
            <div class="panel-heading yellow-heading">
              <h2 class="panel-title">Week 1 - Day 3</h2>
            </div>
            <div class="panel-body">
              <h2> Da Froto? </h2>
              <p> ajweoifjijef </p>
            </div>
            </div>
        </div>
    </div>

</body>



</section>