 <section data-ng-controller="UserFeedsController">
		<div class="row">
			<div class="col-sm-12">
				<div class="img">
				<img src= "modules/user-feeds/img/twoboystireflip.jpg">
				</div>
				<div class="list-group">
				 <a id="whole_body_workouts" data-ui-sref="user-feeds.whole-body-workout" class="list-group-item">
				 <h1>WHOLE BODY</h1>
				 <p> Targeting of major muscle groups</p>
				 <p> Basic workouts provide a great foundation</p>
				 </a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="img">
				<img src="modules/user-feeds/img/upperbody.jpg">
				</div>

				<div class="list-group">
					<a id="upper_body_workouts" data-ui-sref="user-feeds.upper-body-workout" class="list-group-item">
					<h1>UPPER BODY</h1>
					<p> Arms, shoulders, and upper back </p>
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="img">
				<img src="modules/user-feeds/img/lowerbody.jpg">
				</div>

				<div class="list-group">
					<a id="lower_body_workouts" data-ui-sref="user-feeds.lower-body-workout" class="list-group-item">
					<h1>LOWER BODY</h1>
					<p> Quadriceps, calves, lower back</p>
					</a>
				</div>
			</div>
		</div>
</section>
