<head>
	<link rel="stylesheet" href="../css/userfeeds.css">
</head>

<section data-ng-controller="UserFeedsController">
	<body>
		<div class="row">
			<div class="col-sm-12">
				<div class="list-group list-header">
					<a href="#" class="list-group-item">
						<h1>SINGLE WORKOUT</h1>
					</a>
				</div>
			</div>
		</div>

		<div class ="row">
			<div class ="col-sm-12">
				<div class="list-group">
					<a href="#" class="list-group-item">
						<h2>CATEGORY</h2>
					</a>
					<a href="#" class="list-group-item">
						<h2>TODAY'S WORKOUT</h2>
					</a>
				</div>
			</div>
		</div>

	</body>

</section>


		
