<head>
	<link rel="stylesheet" href="../css/userfeeds.css">
</head>

<section data-ng-controller="UserFeedsController">
	<body>
		<div class="row">
			<div class="col-sm-12">
				<div class="list-group list-header">
					<a href="#" class="list-group-item">
						<h1>WHOLE BODY PLANS</h1>
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="planimg">
						<img src="#">
					</div>
					<div class="panel-body">
						<h1 class="panel-title"> 6 Week Strength Program</h1>
						<div class="row workout-content">
							<div class="col-xs-3">
	              				<p> <b>World</b> <br/>
	                  				1,586 completed <br/>
	                  				248 currently
	              				</p>
				            </div>
				            <div class="col-xs-3">
				              	<p> <b>Friends</b> <br/>
				                  7 completed <br/>
				                  3 currently
				              	</p>
				            </div>
				            <div class="col-xs-5">
				              	<p> <b>Rating</b> <br/>
				                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
				                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
				                  <br/>	
				                 </p>
				            </div>
				        </div>
				    </div>
				</div>
			</div>

		</div>
	</body>
</section>