<head>
    <link rel="stylesheet" href="../css/userfeeds.css">
</head>

<body>
<section data-ng-controller="UserFeedsController" data-ng-init="find()">
    <div class="row">
        <div class="col-sm-12">
            <div class="list-group list-header">
              <div class="list-group-item">
              <h1>WORKOUT LIBRARY</h1>
              </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
              <div class="list-group ">
              <a data-ui-sref="user-feeds.category-plan" class="list-group-item">
              <h2>CATEGORIES</h2>
              </a>
              <a data-ui-sref="user-feeds.single-workout" class="list-group-item">
              <h2>SINGLE WORKOUT</h2>
              </a>
              <a data-ui-sref="user-feeds.prev" class="list-group-item">
              <h2>PREVIOUS PLAN</h2>
              </a>
            </div>
        </div>
    </div>



</section>
</body>
