<head>
    <link rel="stylesheet" href="../css/userfeeds.css">
</head>

<section data-ng-controller="UserFeedsController" data-ng-init="find()">

<body>
    <div class="row">
        <div class="col-sm-12">
            <div class="list-group list-header">
              <a href="#" class="list-group-item">
              <h1>WORKOUT LIBRARY</h1>
              </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
              <div class="list-group ">
              <a href="#" class="list-group-item">
              <h2>CATEGORIES</h2>
              </a>
              <a href="#" class="list-group-item">
              <h2>SINGLE WORKOUT</h2>
              </a>
              <a ui-sref="/prev-plan" class="list-group-item">
              <h2>PREVIOUS PLAN</h2>
              </a>
            </div>
        </div>
    </div>

</body>



</section>