<section data-ng-controller="ChallengesController">
		<div class="row">
			<div class="col-sm-12">
				<div class="list-group list-header">
					<div class="list-group-item">
						<h1>CHALLENGES</h1>
					</div>
				</div>
			</div>
		</div>

		<div class ="row">
			<div class ="col-sm-12">
				<div class="list-group">
					<a data-ui-sref="challenges.list" class="list-group-item">
						<h2>LIBRARY</h2>
					</a>
					<a href="#" class="list-group-item">
						<h2>TRENDING</h2>
					</a>
					<a href="#" class="list-group-item">
						<h2>TODAY'S CHALLENGE</h2>
					</a>
					<a href="#" class="list-group-item">
						<h2>CELEBRITY CHALLENGES</h2>
					</a>
				</div>
			</div>
		</div>
</section>
