<section data-ng-controller="HomeController">
	<div id="home-selections">
		<br>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Youth Combine" class="img-responsive text-center" src="modules/core/img/brand/YouthCombine_Logo_CS6-11.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p data-ui-sref-active="active">
				<a class="btn btn-primary btn-lg col-xs-6 col-xs-offset-3" align="center" data-ui-sref="authentication.signin" target="_self">Sign In</a>
			</p>
		</div>
		<br>
		<div class="row">
			<p data-ui-sref-active="active">
				<a class="btn btn-primary btn-lg col-xs-6 col-xs-offset-3" align="center" data-ui-sref="authentication.signup" target="_self">Sign Up</a>
			</p>
		</div>
	</div>
</section>
