<section data-ng-controller="ParentsController">
	<div class="row">
		<div class="col-sm-12">
			<div class="list-group list-header">
				<a href="#" class="list-group-item">
					<h1>ACTIVITY FEED</h1>
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class ="col-sm-12">
			<div class="list-group">
				<h3 class="list-group-item heading">My Children</h3>
				<li  class="list-group-item" ng-repeat="child in children">
					<h4>{{ child.displayName }}</h4>
					<!-- <p>View Activity</p> -->
				</li>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class ="map">
			 	<!--Area to put Location Map to show where children are-->
			 </div>
		</div>
	</div>
</section>
