<section data-ng-controller="ParentsController">
	<div class="row">
		<div class="col-sm-12">
			<div class="list-group">
				<a href="#" class="list-group-item">
					<h1>ACTIVITY FEED</h1>
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div id="map" class="map"></div>
		</div>
	</div>

	<!-- Dynamic Data - Binding for Children -->
	<div class="row">
		<div class ="col-sm-12">
			<div class="list-group">
				<h3 class="list-group-item heading">My Children</h3>

				<div class="list-group-item" ng-if="children.length === 0">
					<div class ="col-sm-10">
		      			<h5>No children registered.</h5>
					</div>
					<div class ="col-sm-2">
						<button data-ui-sref="settings.addchild">Add Child</button>
					</div>
				</div>

				<div ng-if="children.length > 0">
						<li class="list-group-item" ng-repeat="child in children">
							<h5>{{ child.displayName }}</h5>
						</li>
				</div>
			</div>
		</div>
	</div>
</section>
