<section data-ng-controller="WorkoutsController">
    <div class="page-header">
        <h1>New Workout</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name">
                        <br />
                        <input type="text" data-ng-model="equipment[0]" id="equipment[0]" class="form-control" placeholder="Equipment">
                        <input type="text" data-ng-model="equipment[1]" id="equipment[1]" class="form-control" placeholder="Equipment">
                        <input type="text" data-ng-model="equipment[2]" id="equipment[2]" class="form-control" placeholder="Equipment">
                        <input type="text" data-ng-model="equipment[3]" id="equipment[3]" class="form-control" placeholder="Equipment">
                        <input type="text" data-ng-model="equipment[4]" id="equipment[4]" class="form-control" placeholder="Equipment">
                        <br />
                        <input type="text" data-ng-model="exercises[0]" id="exercises[0]" class="form-control" placeholder="Exercises">
                        <input type="text" data-ng-model="exercises[1]" id="exercises[1]" class="form-control" placeholder="Exercises">
                        <input type="text" data-ng-model="exercises[2]" id="exercises[2]" class="form-control" placeholder="Exercises">
                        <input type="text" data-ng-model="exercises[3]" id="exercises[3]" class="form-control" placeholder="Exercises">
                        <input type="text" data-ng-model="exercises[4]" id="exercises[4]" class="form-control" placeholder="Exercises">
                        <br />
                        <input type="number" data-ng-model="minutes" id="minutes" class="form-control" placeholder="minutes">
                        <br />
                        <input type="number" data-ng-model="seconds" id="seconds" class="form-control" placeholder="seconds">
                        <br />
                        <input type="text" data-ng-model="type" id="type" class="form-control" placeholder="Type">
                        <br />
                        <input type="number" min="1" max="5" data-ng-model="difficulty" id="difficuly" class="form-control" placeholder="Difficulty">

                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>