<section data-ng-controller="WorkoutsController" data-ng-init="initializeCreateForm()">
    <div class="page-header">
        <h1>New Workout</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <label class="control-label" for="name">Name</label>
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name">

                        <label class="control-label">Equipment</label>

                        <div data-ng-repeat="e in equipment track by $index">
                            <div class="input-group">
                                <input type="text" data-ng-model="equipment[$index]" class="form-control">
                                <span class="input-group-btn" data-ng-hide="$last">
                                    <button class="btn btn-danger" type="button"
                                            data-ng-click="createFormRemoveEquipmentRow($index)">Delete
                                    </button>
                                </span>
                                <span class="input-group-btn" data-ng-show="$last">
                                    <button class="btn btn-default" type="button"
                                            data-ng-click="createFormAddEquipmentRow(e)">Add
                                    </button>
                                </span>
                            </div>
                        </div>

                        <label class="control-label">Exercises</label>

                        <div data-ng-repeat="e in exercises track by $index">
                            <div class="input-group">
                                <input type="text" data-ng-model="exercises[$index]" class="form-control">
                                <span class="input-group-btn" data-ng-hide="$last">
                                    <button class="btn btn-danger" type="button"
                                            data-ng-click="createFormRemoveExerciseRow($index)">Delete
                                    </button>
                                </span>
                                <span class="input-group-btn" data-ng-show="$last">
                                    <button class="btn btn-default" type="button"
                                            data-ng-click="createFormAddExerciseRow(e)">Add
                                    </button>
                                </span>
                            </div>
                        </div>

                        <label class="control-label">Categories</label>

                        <div>
                            <div class="input-group">
                                <label>
                                    <input type="checkbox" class="btn btn-default" name="Total_Body" value="Total_Body" data-ng-model="Total_Body">
                                    Total-Body
                                </label>
                                <label>
                                    <input type="checkbox" class="btn btn-default" name="Upper_Body" value="Upper_Body" data-ng-model="Upper_Body">
                                    Upper-Body
                                </label>
                                <label>
                                    <input type="checkbox" class="btn btn-default" name="Lower_Body" value="Lower_Body" data-ng-model="Lower_Body">
                                    Lower-Body
                                </label>
                                <label>
                                    <input type="checkbox" class="btn btn-default" name="Core" value="Core" data-ng-model="Core">
                                    Core
                                </label>
                            </div>
                        </div>

                        <label class="control-label">Time (seconds)</label>
                        <input type="number" data-ng-model="seconds" id="seconds" class="form-control" placeholder="Seconds">

                        <label class="control-label">Workout Type</label>
                        <br>
                        <label>
                            <input type="radio" class="btn btn-default" name="type" data-ng-model="type" value="AMRAP">
                            AMRAP
                        </label>
                        <label>
                            <input type="radio" class="btn btn-default" name="type" data-ng-model="type" value="RFT">
                            RFT
                        </label>
                        <br>
                        <label class="control-label">Workout Difficulty</label>
                        <input type="number" min="1" max="5" data-ng-model="difficulty" class="form-control" placeholder="Difficulty">

                    </div>
                    <br>
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
