<link rel="stylesheet" type="text/css" href="modules/workouts/css/workouts.css">

<section data-ng-controller="WorkoutsController" data-ng-init="find()">
    <div class="row">
        <div class="col-xs-12">
            <img src="modules/workouts/img/wide-placeholder.jpg"/>
        </div>
        <div class="col-xs-12" id="workout-header">
            <div class="col-xs-6">
                <h4>Workout</h4>
                <div class="col-xs-6">
                    <p>World</p>
                </div>
                <div class="col-xs-6">
                    <p>Friends</p>
                </div>
            </div>
            <div class="col-xs-6">
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</section>

<style>
</style>